body {
  overflow: hidden;
}

.u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 500px;
  margin: 337px calc(((100% - 1140px) / 2) + 13px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 761px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
  margin: 29px -65px 0;
}

.u-section-1 .u-text-1 {
  width: auto;
  margin: -235px 15px 0 360px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  box-shadow: 3px 3px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-text-2 {
  margin: 30px 0 60px;
}

.u-section-1 .u-text-3 {
  width: auto;
  margin: -1118px 0 60px;
}

.u-section-1 .u-image-3 {
  height: 227px;
  margin-top: 30px;
  margin-bottom: 60px;
  object-position: 50% 33.41%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.25);
}

.u-section-1 .u-text-4 {
  width: auto;
  margin: -1488px calc(((100% - 540px) / 2) + 1217px) 60px calc(((100% - 540px) / 2) + -676px);
}

.u-section-1 .u-text-5 {
  width: auto;
  margin: -1688px calc(((100% - 540px) / 2) + 1217px) 60px calc(((100% - 540px) / 2) + -676px);
}

.u-section-1 .u-text-6 {
  width: auto;
  margin: -19466px calc(((100% - 540px) / 2) + 1217px) 60px calc(((100% - 540px) / 2) + -676px);
}

.u-section-1 .u-text-7 {
  width: auto;
  margin: -13500px calc(((100% - 540px) / 2) + 1217px) 60px calc(((100% - 540px) / 2) + -676px);
}

.u-section-1 .u-text-8 {
  width: auto;
  margin: -19857px calc(((100% - 540px) / 2) + 1217px) 60px calc(((100% - 540px) / 2) + -676px);
}

.u-section-1 .u-text-9 {
  width: auto;
  margin: -10530px calc(((100% - 540px) / 2) + 1217px) 0 calc(((100% - 540px) / 2) + -676px);
}

.u-section-1 .u-text-10 {
  width: auto;
  margin: 0;
}

.u-section-1 .u-image-4 {
  height: 798px;
  margin-top: -10px;
  margin-bottom: 0;
  filter: brightness(0.55);
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -728px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 792px;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-1 .u-text-11 {
  font-family: Karla;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 18px auto 0 8px;
}

.u-section-1 .u-text-12 {
  font-family: Karla;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-text-13 {
  font-weight: 300;
  font-size: 1.125rem;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 18px 60px 0 42px;
}

.u-section-1 .u-icon-7 {
  margin-top: 32px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.5rem;
  font-family: Karla;
  font-weight: 500;
  background-image: none;
  margin: 50px auto 0;
  padding: 6px 37px;
}

.u-section-1 .u-image-5 {
  min-height: 792px;
  background-image: url("/images/thumb__833_833_0_0_auto5.jpg?rand=8443");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 2px 3px 15px 3px rgba(0,0,0,0.2);
  text-shadow: 0px 0px 20px rgba(0,0,0,0);
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 350px;
  height: 162px;
  margin: 179px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1230px;
  }

  .u-section-1 .u-image-1 {
    height: 728px;
    margin-top: -3px;
    filter: brightness(0.5);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -676px;
    margin-right: calc(((100% - 940px) / 2) + 75px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 36px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 1px);
    padding: 10px 33px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -30px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -262px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-11 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -1180px;
  }

  .u-section-1 .u-text-13 {
    font-weight: normal;
  }

  .u-section-1 .u-text-14 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 20px;
    padding-right: 19px;
    padding-left: 18px;
  }

  .u-section-1 .u-image-5 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    transition-duration: 1s;
    min-height: 580px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 217px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1042px;
  }

  .u-section-1 .u-image-1 {
    height: 700px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: -2069px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.5rem;
    font-family: Karla;
    font-weight: 500;
    margin-top: -190px;
    margin-left: calc(((100% - 720px) / 2));
    padding: 6px 37px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -474px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1512px;
  }

  .u-section-1 .u-text-12 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-13 {
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -121px;
    padding-right: 18px;
  }

  .u-section-1 .u-image-5 {
    min-height: 444px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 146px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1200px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: -75px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    height: 377px;
    width: 259px;
    margin: -85px calc(((100% - 540px) / 2)) 0 auto;
  }

  .u-section-1 .u-text-10 {
    margin-top: -25355px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1042px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-1 .u-image-5 {
    min-height: 666px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 477px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1259px;
  }

  .u-section-1 .u-image-2 {
    width: 233px;
    height: 324px;
    margin-top: 150px;
    margin-right: calc(((100% - 340px) / 2) + 28px);
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1762px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: -454px;
    margin-right: calc(((100% - 340px) / 2) + 28px);
    margin-left: auto;
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -750px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-image-3 {
    width: 195px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 36px);
  }

  .u-section-1 .u-text-4 {
    margin: -626px calc(((100% - 340px) / 2) + 1117px) 0 calc(((100% - 340px) / 2) + -676px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 1117px);
    margin-left: calc(((100% - 340px) / 2) + -676px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 1117px);
    margin-left: calc(((100% - 340px) / 2) + -676px);
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 1117px);
    margin-left: calc(((100% - 340px) / 2) + -676px);
  }

  .u-section-1 .u-text-8 {
    margin-right: calc(((100% - 340px) / 2) + 1117px);
    margin-bottom: 0;
    margin-left: calc(((100% - 340px) / 2) + -676px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + 1117px);
    margin-left: calc(((100% - 340px) / 2) + -676px);
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1557px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    margin-top: -132px;
    padding-right: 25px;
    padding-left: 24px;
  }

  .u-section-1 .u-image-5 {
    min-height: 419px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 157px;
    margin-top: -23351px;
  }
}